<nav class="header__breadcrumbs breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__breadcrumb breadcrumb">
            <a class="breadcrumb__link" href="/">Main></a>
        </li> 
        {% for parent in menu.get_ancestors %}
            <li class="breadcrumbs__breadcrumb breadcrumb">
                <a class="breadcrumb__link" href={{parent.get_absolute_url}}>{{parent.name }}></a>
            </li>   
        {% endfor %}
        <li class="breadcrumbs__breadcrumb breadcrumb">
            <a class="breadcrumb__link" href={{menu.get_absolute_url}}>{{menu.name}}</a>
        </li>
    </ol>
</nav>