{% load mptt_tags %}
{% load maintags %}

 
<ul class="menu__root">
    {% recursetree menu_list %}
        {% if  current_item.get_root == node.get_root %}
            <li class="menu__item_{{ current_item|active_class:node }}">
                
                    <a class="menu__link_{{ current_item|active_class:node }}" href="{{node.get_absolute_url}}">{{node.name}}</a>
                
                {% if not node.is_leaf_node and node.level < current_item.level|add:"1" and node not in current_item.get_siblings and node in current_item.get_family %}
                    <ul class="menu__children"> 
                        {{children}}
                    </ul>                            
                {% endif %}
            </li>
        {% else %}
            <li class="menu__item">        
                    <a class="menu__link" href="{{node.get_absolute_url}}">{{node.name}}</a>
            </li>
        {% endif %}
    {% endrecursetree %}
</ul>